// both axes
.overflow-scroll {
    overflow: scroll;
}
.overflow-wrap {
    overflow: wrap;
}

// x axis
.overflow-x-scroll {
    overflow-x: scroll;
}
.overflow-x-wrap {
    overflow-x: wrap;
}

// y axis
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-y-wrap {
    overflow-y: wrap;
}
